
  
  .search-results-content-wrapper {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    background: var(--tailwind-white, #fff);
    padding: 1em;
  }
  
  .search-results-content-wrapper-flex {
    background: var(--tailwind-white, #fff);
    padding: 1em;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  
  .hotel-name-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    column-gap: 1rem;
    @media (max-width: 450px) {
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  
  .hotel-name-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .hotel-name {
    color: var(--grey, #505050);
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    /* 133.333% */
  }
  
  .trip-card {
    align-self: center;
    justify-self: flex-end;
  }
  
  .rating-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 424px) {
      flex-direction: column-reverse;
      > :nth-child(2) {
        align-self: center;
      }
    }
  }
  
  .rating-wrapper-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 690px) {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
  
  .map-name-container {
    display: flex;
    gap: 0.3rem;
  }
  
  .map-name-container-flex {
    display: flex;
    gap: 0.5rem;
  }
  
  .rating-content {
    color: var(--grey, #505050);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 0em 0.5em;
    margin-top: 0.5em;
    /* 142.857% */
    width: 13rem;
    width: 100%;
    @media (max-width: 424px) {
      width: 100%;
      margin-top: 1rem;
    }
  }
  
  .rating-content-flex {
    color: var(--grey, #505050);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 100%;
    margin-top: 0.5rem;
    max-width: 12rem;
  }
  
  .rating-stars li {
    color: #bda06a !important;
    font-size: 17px !important;
    margin-right: 0.2em !important;
  }
  
  .info-wrapperr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .date-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
    @media (max-width: 372px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  
  .date-wrapper-item span {
    color: var(--grey, #505050);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    margin-left: 0.5em;
    /* 142.857% */
  }
  
  .date-wrapper-item {
    margin-right: 0.8em;
  }
  
  .total-price {
    color: var(--grey, #505050);
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    /* 133.333% */
    margin-top: 1.5em;
  }
  
  .bottom-tab-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name {
    color: var(--grey, #505050);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
  }
  
  .amount-text {
    color: var(--grey, #505050);
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 0.2em;
    /* 133.333% */
  }
  
  .discount-label{
    position: absolute; /* Set the discount label to absolute positioning */
    top: 6px; /* Position it at the top of the wrapper */
    left: 6px; /* Position it at the left of the wrapper */
    color: #fff; /* Set text color */
    padding: 5px; /* Add some padding to the label */
    font-weight: bold; /* Make the text bold */
  
    display: inline-flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: var(--Light-Green, #2aaf74);
  
    color: var(--tailwind-white, #fff);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
  
    z-index: 1;
  }
  
  .price-text {
    margin-left: 0.5rem;
    color: var(--Grey, #505050);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
  }
  
  .price-text-out{
    color: var(--Red, #F12D2D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  }
  
  .book-now-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: flex-start;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: var(--light-green, #2aaf74);
    color: var(--white, #fff);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    /* 171.429% */
    border: none;
  }
  
  .book-now-btn:hover {
    background-color: #bda06a;
    cursor: pointer;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
    @media (max-width: 880px) {
      flex-direction: column;
    }
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.81rem;
  }
  
  .logo-img {
    width: 20%;
  }
  
  .map-container {
    margin-top: '.4em';
    cursor: pointer;
    align-self: center;
  }
  
  .map-container:hover {
    stroke: #bda06a;
  }
  
  .map-container-flex {
    margin-top: 0.3rem;
    cursor: pointer;
    /* align-self: center; */
  }
  
  .map-container-flex:hover {
    fill: #bda06a;
  }
  
  .from-div {
    font-size: 10px;
    align-self: flex-end;
    color: #6b7280;
  }
  