.my-container {
  display: flex;
  background-color: antiquewhite;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Adjust the vertical gap based on your design */
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-basis: 85%;
}
.side-content {
  flex-basis: 15%; /* Set the width to 20% of the container */
  margin-top: 20px;
  background-color: lightgray;
  margin-right: 20px;
}

/* Adjust the width and styles based on your design */
@media (min-width: 576px) {
  .card {
    justify-content: flex-start; /* Keep cards aligned to the start */
  }

  .card > * {
    flex-basis: calc(50% - 20px); /* Two cards in a row with a gap of 20px */
  }
}

@media (min-width: 768px) {
  .card > * {
    flex-basis: calc(
      33.33% - 20px
    ); /* Three cards in a row with a gap of 20px */
  }
}

@media (min-width: 992px) {
  .card > * {
    flex-basis: calc(25% - 20px); /* Four cards in a row with a gap of 20px */
  }
}

/* Add more media queries for other breakpoints as needed */

@media (max-width: 570px) {
  .card {
    padding-right: 20px;
  }
}
