.card-tlp {
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* box-shadow:
    0px 1.2px 2.2px rgba(0, 0, 0, 0.008),
    0px 2.9px 5.3px rgba(0, 0, 0, 0.012),
    0px 5.4px 10px rgba(0, 0, 0, 0.015),
    0px 9.6px 17.9px rgba(0, 0, 0, 0.018),
    0px 18px 33.4px rgba(0, 0, 0, 0.022),
    0px 43px 80px rgba(0, 0, 0, 0.03); */
}

.card-tlp:hover .cate-background {
  transform: scale(1.1);
}

.tlpe-main {
  height: 100%;
  width: 100%;
}

.tlpe-main:hover.paralex {
  transform: scale(1.1);
}


.paralex-img {
  background-attachment: fixed;
  background-image: url('https://images.unsplash.com/photo-1683009680116-b5c04463551d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8');
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 10;
  height: 100%;
  position: absolute;
  transition: all ease-in-out 0.30s;
}

.paralex:hover .paralex-img {
  transform: scale(1.1);
}


.paralex {
  width: 100%;
  height: 90vh;
  position: relative;
  transition: all ease-in-out;
  overflow: hidden;
  transition: all ease-in-out 0.30s;
}

.review {
  position: relative;
  height: 70vh;
  transition: all linear 0.30s;
  overflow: hidden;
}



.percentage {
  height: 65px;
  width: 55px;
  background-color: beige;
  position: absolute;
  right: 0%;
  z-index: 25;
}

/* //// */

.content-tlp {
  height: max-content;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  /* border: solid 1px black; */
  z-index: 25;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
}

.content-tlp h1 {
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.cate-background-tlp {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: solid 1px transparent;
  margin-bottom: 20px;
  padding: 0px;
  position: absolute;
  transition: all ease-in-out 0.30s;
}

.review:hover {
  /* border: solid 1px red; */
}

.review:hover .cate-background-tlp:hover {
  transform: scale(1.1);
}

.content-tlp {
  /* border: solid 1px red; */
}

.hero-content-heading {
  text-align: center;
}

.container-paralex {
  min-width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* /////////////////////////////////////////// */

/* ////////////////////////////////// Sekeleton ///////////////////////////////////// */

/* Loading Animation for Skeleton */
.skeleton *:empty {
  background: #f6f7f8;
  background-position: -500px 0;
  animation: skeletonShine 1s linear 0s infinite normal forwards;
  background-image: linear-gradient(135deg, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  /* z-index: -20; */
}

.skeleton-dark *:empty {
  background: #1a1a1a;
  /* Dark gray background color */
  background-position: -500px 0;
  animation: skeletonShine 1s linear 0s infinite normal forwards;
  background-image: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 20%,
      /* Darker gray color */
      #1a1a1a 40%, #1a1a1a 100%);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
}

/* dark */

.skeleton__card-dark {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

/* ///// */

/* Class for structuring content in skeleton */
.skeleton__section+.skeleton__section {
  margin-top: 16px;
}

.skeleton__section--actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}

.skeleton__section--card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 24px;
}

.skeleton__section--calendar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}

/* Classes for different placeholders */
.skeleton__header {
  margin-bottom: 20px;
  height: 100px;
  width: 350px;
  max-width: 35%;
  border-radius: 20px;
}

.skeleton__header--long {
  width: 300px;
  max-width: 85%;
}

.skeleton__hr {
  height: 2px;
  width: 100%;
  margin-bottom: 16px;
}

.skeleton__p {
  height: 16px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.skeleton__p:last-child {
  width: 45%;
}

.skeleton__p--short {
  max-width: 120px;
}

.skeleton__button {
  height: 24px;
  width: 56px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.skeleton__button:nth-child(2n) {
  width: 72px;
}

.skeleton__button:nth-child(3n + 1) {
  width: 48px;
}

.skeleton__input {
  height: 32px;
  width: 100%;
  margin-bottom: 8px;
}

.skeleton__input--half {
  width: 50%;
}

.skeleton__tr {
  display: flex;
  gap: 12px;
}

.skeleton__tr:first-child .skeleton__td {
  height: 24px;
  margin-bottom: 12px;
}

.skeleton__td {
  flex: 1 1 100%;
  height: 16px;
  margin: 4px 0;
}

.skeleton__td:nth-child(2) {
  flex-basis: 500%;
}

.skeleton__td:nth-child(3) {
  flex-basis: 300%;
}

.skeleton__td:nth-child(4) {
  flex-basis: 900%;
}

.skeleton__td:nth-child(5) {
  flex-basis: 700%;
}

.skeleton__img {
  height: 64px;
  width: 64px;
  border-radius: 8px;
}

.skeleton__icon {
  height: 24px;
  width: 24px;
  border-radius: 4px;
}

.skeleton__block {
  height: 56px;
  width: 100%;
  margin-bottom: 12px;
}

.skeleton__block--empty {
  background: none !important;
}

.skeleton__block--xs {
  height: 12px;
}

.skeleton__block--s {
  height: 24px;
}

.skeleton__block--l {
  height: 92px;
}

.skeleton__block--xl {
  height: 128px;
}

.skeleton__group {
  height: 24px;
  width: 200px;
  max-width: 35%;
  margin-top: 16px;
  margin-bottom: 12px;
}

.skeleton__tree {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.skeleton__tree * {
  margin: 0;
}

.skeleton__tree--0 {
  padding-left: 0;
}

.skeleton__tree--1 {
  padding-left: 16px;
}

.skeleton__tree--2 {
  padding-left: 24px;
}

/* /////// */

.skeleton__Bigimg {
  height: 250px;
  width: 100%;
  /* border-radius: 20px; */
  margin: auto;
}

.skeleton__Bigimg_hero {
  height: 75vh;
  width: 100%;
  /* border-radius: 20px; */
  margin: auto;
  /* border: solid 2px red; */
  /* margin-bottom: 10vh !important; */
}

.skeleton__category-card {
  width: 100%;
  height: 210px;
  border-radius: 20px;
}

.skeleton__featuredA {
  height: 100%;
  width: 340px;
  /* border: solid 1px white; */
  border-radius: 20px;
  margin-top: 22px;
  /* background-color: black; */
}

.skeleton__featuredB {
  height: 95%;
  width: 300px;
  /* border: solid 1px white; */
  border-radius: 20px;
}

.skeleton__Bigimg_cate {
  height: 370px;
  /* transform: translate(0px,-120px)!important ; */
  /* border: solid 1px black; */
}

/* ////////// */

.tlp-c-card-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('../../../images//fotter-bg.png');
  transition: all ease-in-out 0.30s;
}

.card-tlp:hover .tlp-c-card-img {
  transform: scale(1.1);
}

.tlp-c {
  position: absolute;
  height: max-content;
  /* border: solid 2px red; */
  width: 100%;
  z-index: 35;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-left: none;
  border-right: none;
  transition: all ease-in-out 0.30s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tlp-c-line {
  position: absolute;
  margin: auto;
  top: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 60%;
  /* background-color: white; */
  border: solid 1px white;
  border-left: none;
  border-right: none;
  height: 1px;
  transition: all ease-in-out 0.30s;
}

.tlp-c-heading {
  color: white;
  font-size: 25px;
  line-height: 30px !important;
  transition: all ease-in-out 0.30s;
  height: 90px;
  /* border: solid 2px purple; */
  display: flex;
  align-items: flex-end;
  padding-bottom: 45px;
  width: 80%;
  text-align: center;
  /* border: solid 1px red; */
  display: flex;
  justify-content: center;
  /* margin-bottom: 10px; */
}

.tlp-c:hover .tlp-c-heading {
  /* padding-bottom: 0px; */
}

/* .tlp-c:hover .hero-content-type {
  padding-bottom: 5px !important;
} */

.hero-content-type-tlp {
  /* padding-top: 15px; */
  font-size: 12px;
}

.tlp-c:hover .tlp-c-line {
  height: 150px;
  top: 0px;
}

@media screen and (min-width:0px) and (max-width:1226px) {
  .tlp-c:hover .tlp-c-line {
    height: 200px;
  }
}

/* //////// */

@media screen and (min-width: 851px) and (max-width: 1200px) {
  .skeleton__featuredA {
    height: 100%;
    width: 250px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }

  .skeleton__featuredB {
    height: 100%;
    width: 250px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
  .skeleton__featuredA {
    height: 100%;
    width: 420px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }

  .skeleton__featuredB {
    height: 100%;
    width: 420px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  .skeleton__featuredA {
    height: 100%;
    width: 420px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }

  .skeleton__featuredB {
    height: 100%;
    width: 420px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }
}

/* ///// */

@media screen and (min-width: 280px) and (max-width: 480px) {
  .skeleton__featuredA {
    height: 100%;
    width: 310px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }

  .skeleton__featuredB {
    height: 100%;
    width: 310px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }
}

@media screen and (min-width: 270px) and (max-width: 319px) {
  .skeleton__featuredA {
    height: 100%;
    width: 260px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }

  .skeleton__featuredB {
    height: 100%;
    width: 260px;
    /* border: solid 1px white; */
    border-radius: 20px;
    margin-top: 22px;
    /* background-color: black; */
  }
}

/* /////// */

@keyframes skeletonShine {
  to {
    background-position: 500px 0;
  }
}

/* //////// */

.skeletoncontaine {
  height: 250px;
  /* border: solid 1px black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skeletoneach2 {
  height: 50vh;
  width: 100%;
  /* border: solid 1px red; */
  display: flex;
  margin-top: 25px;
}

.skeletoneach1 {
  height: 100%;
  width: 100%;
  /* border: solid 1px red; */
  display: flex;
  /* margin-top: 25px; */
}

.skeletoneach1-innerA {
  height: 400px;
  width: 100%;
  /* border: solid 1px green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.skeletoneach1-innerB {
  height: 100%;
  width: 100%;
  /* border: solid 1px peru;   */
}

.skeletoneach1-innerA-2 {
  height: 100%;
  width: 40%;
  /* border: solid 1px green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* //////// */

/* //////////////////////////////////////////////////////////////////////////////////  */