.my-container {
  display: flex;
  max-width: 92%;
  min-width: 92%;
  margin: 40px auto;
  position: relative;
}

.side-tag-spin {
  width: 100%;
  // border: solid 1px greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

////

.full-heading {
  font-weight: 600;
  font-size: 25px;
}

///////

.special-c {
  border: solid 2px greenyellow;
}

/////

.full-card {
  max-height: 420px !important;
  min-height: 420px !important;
  width: 100%;
  border: solid 2px black !important;
  margin-top: 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: var(--sky);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
}

.full-card-a {
  // border: solid 2px red;
  width: 450px !important;
  height: 320px;
  background-size: cover;
  background-position: center;
  border-radius: 10px // margin-top: 2.5%;
}

.full-card-b {
  // border: solid 2px greenyellow;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 15px;
}

.full-card-b h1 {
  font-size: 25px;
  font-weight: 700;
}

.full-card-b p {
  // font-size: 25px;
  // font-weight: 700;
  color: var(--pragraph);
}

////
/// 

.grid-main {
  // border: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-main-container {
  width: 85%;
  // border: solid 2px red;
  height: max-content;
  // max-height: 100vh;
  // overflow-y: scroll;
}

/* For WebKit browsers */
.grid-main-container::-webkit-scrollbar {
  width: 4px;
  /* width of the scrollbar */
}

.grid-main-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
}

.grid-main-container::-webkit-scrollbar-thumb {
  background-color: #9f9f9f;
  /* color of the thumb */
  border-radius: 6px;
  /* roundness of the thumb */
}

.grid-main-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* color of the thumb on hover */
}

.skeleton-main-cate {
  width: 70vw !important;
  // border: solid 2px greenyellow;
  // height: 300px;
  // padding-bottom: 20px;
}

.col-ske {
  margin-top: 20px !important;
  // border: solid 2px red;
}

.special-card-cate {
  transition: all ease-in-out 0.30s;
  cursor: pointer;
}

.special-card-cate:hover {
  transform: scale(1.02);
}

@media screen and (min-width:380px) and (max-width:480px) {
  .full-card-a{
    width: 330px !important;
    // border: solid 2px greenyellow;
  }
  .special-card-cate{
    width: 90%;
  }
}

@media screen and (min-width:300px) and (max-width:380px) {
  .full-card-a{
    width: 280px !important;
    // border: solid 2px greenyellow;
  }
  .special-card-cate{
    width: 85%;
  }
}

@media screen and (min-width:0px) and (max-width:1200px) {

  .skeleton-main-cate {
    width: 90vw !important;
    // border: solid 2px greenyellow;
    overflow-x: hidden;
    // height: 300px;
    // padding-bottom: 20px;
  }

  .my-container {
    flex-direction: column-reverse;
  }

  .grid-main-container {
    width: 100%;
  }
}



.card {
  // border: solid 2px purple;
  width: 80%;
}

.side-content {
  flex-basis: 20%;
  flex-wrap: nowrap;
  /* Set the width to 20% of the container */
  margin-top: 50px;
  // background-color: lightgray; 
  margin-right: 20px;
  // border: solid 1px red;
  justify-content: center;
  align-items: center;
}

.side-tag {
  width: max-content;
  height: max-content;
  padding: 2px;
  border: solid 2px var(--pragraph);
  transition: all ease-in-out 0.30s;
  color: var(--pragraph);
  border-radius: 5px;
  margin-top: 8px;
  margin-left: 8px;
  cursor: pointer;
}

.side-tag:hover {
  background-color: var(--pragraph);
  // background-color: ;
  color: white;
}

.side-tag-main {
  height: max-content;
  width: 100%;
  // border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-top: 20px;
  position: sticky;
  top: 10px;
}

.side-search {
  width: 100%;
  height: max-content;
  // border: solid 1px black;
  // border-bottom: 125px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.side-search input {
  border: none;
  border-bottom: solid 1px black;
  padding-left: 10px;
  width: 190px;
  margin-left: 10px;
}

.gird-main {
  // border: solid 2px red;
  padding-bottom: 40px;
  height: max-content;
  max-height: 50vh;
  overflow-y: scroll;
  margin-top: 50px;
}

////
/* For WebKit browsers */
/* Track */
.gird-main::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
.gird-main::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
}

/* Handle on hover */
.gird-main::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

////


/* Adjust the width and styles based on your design */
@media (min-width: 576px) {
  .card {
    justify-content: flex-start;
    /* Keep cards aligned to the start */
  }

  .card>* {
    flex-basis: calc(50% - 20px);
    /* Two cards in a row with a gap of 20px */
  }
}

@media (min-width: 768px) {
  .card>* {
    flex-basis: calc(33.33% - 20px);
    /* Three cards in a row with a gap of 20px */
  }
}

@media (min-width: 992px) {
  .card>* {
    flex-basis: calc(25% - 20px);
    /* Four cards in a row with a gap of 20px */
  }
}

/* Add more media queries for other breakpoints as needed */

@media (max-width: 570px) {
  .card {
    padding-right: 20px;
  }
}

////
/// 

.cate-cart {
  width: 95%;
  height: 370px;
  margin-bottom: 50px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in-out 0.20s;
  background-color: var(--sky);
}

// @media screen and (min-width: 1280px) and (max-width: 1420px) {
//   .cate-cart {
//     width: 150px !important;
//     height: 230px !important;
//     border: solid 2px red;
//   }
// }

@media screen and (min-width: 1280px) and (max-width: 1450px) {
  .cate-cart {
    width: 240px !important;
    height: 300px !important;
    // border: solid 1px red;
  }

  .cate-cart-content h1 {
    font-size: 20px !important;
    // color: green ;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
  .cate-cart {
    width: 280px !important;
    height: 300px !important;
  }

  .cate-cart-content h1 {
    font-size: 20px !important;
    // color: green ;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .cate-cart {
    width: 280px !important;
    height: 300px !important;
  }

  .cate-cart-content h1 {
    font-size: 20px !important;
    // color: green ;
  }

  .full-card-a {
    width: 350px;
  }

  .full-card-b {
    width: 50%;
    // border: solid 2px greenyellow;
  }
  .full-heading{
    font-size: 18px;
    // color: red ;
  }
  .full-card-b p{
    font-size: 15px;
  }
}

@media screen and (min-width:770px) and (max-width:992px) {
  .full-card-a {
    width: 350px;
  }

  .full-card-b {
    width: 60%;
    // border: solid 2px greenyellow;
  }
  .full-heading{
    font-size: 18px;
    // color: red ;
  }
  .full-card-b p{
    font-size: 15px;
  }
}

@media screen and (min-width:667px) and (max-width:770px)  {
  .full-heading{
    font-size: 18px;
    // color: red ;
  }
  .full-card-b p{
    font-size: 15px;
  }
  .full-card-b {
    width: 60%;
    // border: solid 2px greenyellow;
  }
  .full-card-a{
    width: 200px;
  }
}

@media screen and (min-width:0px) and (max-width:667px) {
  .full-card-b {
    width: 95%;
    // border: solid 2px greenyellow;
  }
}

@media screen and (min-width:870px) and (max-width:1024px) {
  .cate-cart {
    width: 340px !important;
    height: 380px !important;
  }
}

@media screen and (min-width:800px) and (max-width:870px) {
  .cate-cart {
    width: 330px !important;
    height: 350px !important;
  }
}

@media screen and (min-width:700px) and (max-width:800px) {
  .cate-cart {
    width: 290px !important;
    height: 320px !important;
  }
}

@media screen and (min-width:668px) and (max-width:700px) {
  .cate-cart {
    width: 270px !important;
    height: 300px !important;
  }
}


@media screen and (min-width:400px) and (max-width:668px) {
  .cate-cart {
    width: 360px !important;
    height: 380px !important;
  }
}

@media screen and (min-width:0px) and (max-width:400px) {
  .cate-cart {
    width: 310px !important;
    height: 350px !important;
  }
}

@media screen and (min-width:480px) and (max-width:768px) {
  .cate-cart {
    width: 310px !important;
    height: 350px !important;
    margin: 20px auto ;
  }
}

.cate-cart:hover {
  transform: scale(1.03);
}

.cate-cart-img {
  height: 60%;
  width: 100%;
  // border: solid 2px red;
  background-size: cover;
  background-position: center;
}

.cate-cart-content h1 {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.cate-cart-content h1 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.cate-cart-content p {
  margin-bottom: 10px;
  color: var(--pragraph);
  margin-left: 10px;
}

///////