.post-header-hero{
    /* border: solid 5px red; */
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    min-width: 100%;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1701972184355-d7de7849ee26?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8');
}

.overlay-post{
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    position: absolute;
}

.post-header-inner{
    /* border: solid 1px red; */
    height: 140px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.post-header-inner h1 {
    font-size: 45px;
    font-weight: 600;
    transform: translate(0px,-10px);
    color: white;
}

.post-category{
    width: 380px;
    height: max-content;
    /* border: solid 2px black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 25;


}

.line-1{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0px;
    right: 0px;
    left: 0px;
    background-color: transparent;
    height: 1px;
    width: 250px;
    border: solid 1.5px green;
    border-left: none;
    border-right: none;
    z-index: -10;
    transition: all ease-out 0.30s;
}

.post-header-hero:hover .line-1{
     transform: translate(0px,-50%);
     height: 170px;   
}

@media screen and (min-width:600px) and (max-width:800px) {
    
    .post-header-inner{
        width: 90%;
    }

}

@media screen and (min-width:500px) and (max-width:600px) {
    
    .post-header-inner{
        width: 90%;
    }
    .post-header-inner h1 {
        font-size: 40px;
    }

}

@media screen and (min-width:0px) and (max-width:500px) {
    .post-header-inner{
        width: 90%;
    }
    .post-header-inner h1 {
        font-size: 30px;
    }
}




